@model IEnumerable<UserListViewModel>
@{
    ViewData["Title"] = "Manage Users";
}
<!DOCTYPE html>
<html lang="en">

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  
    
    <!--Table Start-->
    <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Application Users</h3>

                <div class="card-tools">
                  
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      
                      <th>User</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Role</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      @foreach (var user in Model)
                      {
                    <tr>
                      
                      <td>@user.Name</td>
                      <td>@user.Email</td>
                      <td>@user.PhoneNumber</td>
                      <td>@user.GetType()</td>
                      <td>
                          <a asp-area="admin" asp-action="edit" asp-controller="user" asp-route-id="@user.Id" class="btn btn-block bg-gradient-info btn-xs">Edit</a>
                          <a asp-area="admin" asp-action="addremoverole" asp-controller="user" asp-route-id="@user.Id" class="btn btn-block btn-danger btn-xs">Add/Remove Role</a>
                      </td>       
                    </tr>
                      }
                    
                   
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    <!--Table ENd-->
   </div>
</body>
</html>