@model IEnumerable<BookingListViewModel>
@{
    ViewData["Title"] = "Manage Bookings";
}
<!DOCTYPE html>
<html lang="en">

<body class="hold-transition sidebar-mini">
    <div class="wrapper">


        <!--Table Start-->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Bookings</h3>

                        <div class="card-tools">
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>

                                    <th>Date</th>
                                    <th>Contact Name</th>
                                    <th>Contact Number</th>
                                    <th>Service</th>
                                    <th>Additional info</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var booking in Model)
                                {
                                    <tr>

                                        <td>@booking.Date</td>
                                        <td>@booking.ContactName</td>
                                        <td>@booking.ContactPhoneNumber</td>
                                        <td>@booking.Service</td>
                                        <td>@booking.SpecialRequest</td>

                                        <td>
                                            <a asp-area="admin" asp-action="edit" asp-controller="Booking" asp-route-id="@booking.Id" class="btn btn-block bg-gradient-info btn-xs">Edit</a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!--Table ENd-->
        
       
       </div>

</body>
</html>